<% provide(:title, @intern.name) %>
<% provide(:subtitle, "Cohort #{@intern.cohort}") %>

<div class="row">
  <div class="col-lg-3 col-sm-4">
    <%= image_tag "profile_pic/#{@intern.get_image}", class: "img-responsive center-block" %>
  </div>
  <div class="col-lg-9 col-sm-8">
    <h2>Bio</h2>
    <p><%= @intern.bio %></p>
    <div class="row">
      <% if @intern.has_internship? %>
        <div class="col-md-6">
          <h3>Internship</h3>
          <p><%= image_tag "logo/#{@intern.company.logo}", class: "logo-thumb", alt: @intern.company.name %></p>
        </div>
      <% end %>
      <% if @intern.has_contact? %>
        <div class="col-md-6">
          <h3>Contact</h3>
          <% if @intern.has_twitter? %>
            <%= link_to image_tag("logo/twitter.png"), "https://www.twitter.com/#{@intern.twitter}" %>
          <% end %>
          <% if @intern.has_linkedin? %>
            <%= link_to image_tag("logo/linkedin.png"), @intern.linked_in %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
